.bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 60px;
    text-align: justify;
    font-family: "Sono", monospace;
    justify-content: space-around;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 20px;
    font-family: 'LiberationSans-Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 0px;
}


.blurb {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width:350px;
    align-items: flex-start;
    height: 100%;
    justify-content: start;
    text-align: justify;
    padding-right: 20px;
    flex-basis: 0%;
}

.blurb-image {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: flex-start;
}

.centered {
    text-align: center;
}

.align-left {
    text-align: left;
}

.sono-font {
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 375;
    font-style: normal;
    font-variation-settings:
      "MONO" .65;

}

.paragraph-top {
    margin-top: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin: 0 auto;
    max-width: 780px;
    padding-top: 20px;
    
}

.project {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0 auto;
    width: 310px;
    height: 250px;
    margin-bottom: 35px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px black inset;
}

.project-image {
    display: flex;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;    
}


.project-title h2 {
    font-family: 'LiberationSans-Bold', sans-serif;
    font-size: 24px;
    margin-top: 0px; 
    height: 50px;
    margin-bottom: 0px;
    margin-block-start: 0.0em;
    color: #000;
    padding:5px 5px 10px 5px;
}

.image-header {
    display: flex;
    width: 100%;
    height: 150px;
    min-height: 150px;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.text-header {
    font-family: 'LiberationSans-Bold', sans-serif;
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

.text-header-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 35px;
}

.project-content {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    width: 800px;
    
}

.button-container {
    display: flex; flex-flow: row;
    align-content: stretch;
    margin: 0 auto; flex: 0 0 auto; max-width: 800px;
    justify-content: center; height:50px;
    margin-bottom: 30px;
}

.paragraph {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Sono", monospace;
    text-align: justify;
}

.button {
    display: flex; 
    flex: 1 0 auto; 
    align-items: center; 
    justify-content: space-between;
    border-radius: 10px; 
    border: 1px solid #000;
    margin: 0 5px 0 5px;
    transition: background-color 0.075s ease;
    max-width: calc(33.33% - 10px);
    text-align: center;
}

.button:hover {
    background-color: #ececec;
    transition: background-color 0.075s ease;
}

.button span{
    font-family: "Sono", monospace;
    color: #000;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.back-button-icon {
    width: 50px;
    height: 50px;
}

.hr-box {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

hr.style1 {
    width: 95%;
    border: 1px solid #dedede;
}

@font-face {
    font-family: 'LiberationSans-Bold';
    src: url('./Fonts/LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin:0px
}

h1 {
    margin-bottom: 0px;
    margin-block-end: 0px;
}

img {
    border-radius: 3px;
}

p {
    font-family: "Sono", monospace;
}